In [46]:
import numpy as np 
import pandas as pd

In [47]:
#input file
fin = open("books.txt", "rt")
#output file to write the result to
fout = open("mybooks.txt", "wt")
#for each line in the input file
for line in fin:
	#read replace the string and write to output file
	fout.write(line.replace(';', ','))
#close input and output files
fin.close()
fout.close()

In [48]:
cols=[]
for i in range(0,39):
    cols.append("item"+str(i))

df = pd.read_csv("mybooks.txt",sep=",",header=None,names = cols)
df.head()

,item0,item1,item2,item3,item4,item5,item6,item7,item8,item9,...,item29,item30,item31,item32,item33,item34,item35,item36,item37,item38
0,The Bean Trees,To Kill a Mockingbird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angels & Demons,Harry Potter and the Chamber of Secrets (Book 2),Harry Potter and the Order of the Phoenix (Boo...,Life of Pi,The Da Vinci Code,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Harry Potter and the Order of the Phoenix (Boo...,Red Dragon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Time to Kill,Harry Potter and the Chamber of Secrets (Book 2),Harry Potter and the Sorcerers Stone (Book 1),Jurassic Park,Life of Pi,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Girl with a Pearl Earring,The Notebook,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df['item38'].unique()

array([nan, 'Where the Heart Is (Oprahs Book Club (Paperback))'],
      dtype=object)

In [50]:
df = df.fillna("empty") # Fill nan values with 'empty' string

### Checcking Logic

In [51]:
df2 = df.iloc[0]
df2 = pd.DataFrame(df2)
df2.head()

                           0
item0         The Bean Trees
item1  To Kill a Mockingbird
item2                  empty
item3                  empty
item4                  empty

In [52]:
import math
bookItems = []

for index, row in df2.iterrows():
    for j in row:
        if j!='empty':
            bookItems.append(j)

In [53]:
list(bookItems)

['The Bean Trees', 'To Kill a Mockingbird']

## Apply on the dataset

In [54]:
# The code below gets all the unique movie names and store them in the list movieItems
import math

bookItems = []

for index, row in df.iterrows(): 
    for j in row:
        if j!='empty' and j not in bookItems:
            bookItems.append(j)

In [55]:
list(bookItems)

['The Bean Trees',
 'To Kill a Mockingbird',
 'Angels & Demons',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Life of Pi',
 'The Da Vinci Code',
 'Red Dragon',
 'A Time to Kill',
 'Harry Potter and the Sorcerers Stone (Book 1)',
 'Jurassic Park',
 'Girl with a Pearl Earring',
 'The Notebook',
 'Bridget Joness Diary',
 'Fahrenheit 451',
 'Interview with the Vampire',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'Shes Come Undone (Oprahs Book Club)',
 'The Girls Guide to Hunting and Fishing',
 'The Pilots Wife : A Novel',
 'The Red Tent (Bestselling Backlist)',
 'A Prayer for Owen Meany',
 'The Lovely Bones: A Novel',
 'Good in Bed',
 'Suzannes Diary for Nicholas',
 'Timeline',
 'The Joy Luck Club',
 'Where the Heart Is (Oprahs Book Club (Paperback))',
 'The Firm',
 'The Pelican Brief',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'The Fellowship of the Ring (The Lord of the Rings',
 ' Part 1)',
 'Tuesdays with Morrie: An Old Man',
 ' a Young Man',
 ' and Lifes Greatest Lesson',
 'The Runaway Jury',
 'The Summons',
 'Shes Come Undone (Oprahs Book Club (Paperback))',
 'Summer Sisters',
 '1st to Die: A Novel',
 'A Painted House',
 'The Secret Life of Bees',
 'The Testament',
 'House of Sand and Fog',
 'The Poisonwood Bible: A Novel',
 'Snow Falling on Cedars',
 'The Catcher in the Rye',
 'The Nanny Diaries: A Novel',
 'Me Talk Pretty One Day',
 'The Five People You Meet in Heaven',
 'The Beach House']

## Calculate the Support for individual Items

In [56]:
vals = [] 
for i in range(0,len(bookItems)):
    vals.append(0)

In [57]:
len(bookItems),len(vals)

(53, 53)

In [58]:
bookDict = dict(zip(bookItems,vals))

In [59]:
bookDict

{'The Bean Trees': 0,
 'To Kill a Mockingbird': 0,
 'Angels & Demons': 0,
 'Harry Potter and the Chamber of Secrets (Book 2)': 0,
 'Harry Potter and the Order of the Phoenix (Book 5)': 0,
 'Life of Pi': 0,
 'The Da Vinci Code': 0,
 'Red Dragon': 0,
 'A Time to Kill': 0,
 'Harry Potter and the Sorcerers Stone (Book 1)': 0,
 'Jurassic Park': 0,
 'Girl with a Pearl Earring': 0,
 'The Notebook': 0,
 'Bridget Joness Diary': 0,
 'Fahrenheit 451': 0,
 'Interview with the Vampire': 0,
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel': 0,
 'Shes Come Undone (Oprahs Book Club)': 0,
 'The Girls Guide to Hunting and Fishing': 0,
 'The Pilots Wife : A Novel': 0,
 'The Red Tent (Bestselling Backlist)': 0,
 'A Prayer for Owen Meany': 0,
 'The Lovely Bones: A Novel': 0,
 'Good in Bed': 0,
 'Suzannes Diary for Nicholas': 0,
 'Timeline': 0,
 'The Joy Luck Club': 0,
 'Where the Heart Is (Oprahs Book Club (Paperback))': 0,
 'The Firm': 0,
 'The Pelican Brief': 0,
 'Harry Potter and the Goblet of Fire (Book 4)': 0,
 'Harry Potter and the Prisoner of Azkaban (Book 3)': 0,
 'The Fellowship of the Ring (The Lord of the Rings': 0,
 ' Part 1)': 0,
 'Tuesdays with Morrie: An Old Man': 0,
 ' a Young Man': 0,
 ' and Lifes Greatest Lesson': 0,
 'The Runaway Jury': 0,
 'The Summons': 0,
 'Shes Come Undone (Oprahs Book Club (Paperback))': 0,
 'Summer Sisters': 0,
 '1st to Die: A Novel': 0,
 'A Painted House': 0,
 'The Secret Life of Bees': 0,
 'The Testament': 0,
 'House of Sand and Fog': 0,
 'The Poisonwood Bible: A Novel': 0,
 'Snow Falling on Cedars': 0,
 'The Catcher in the Rye': 0,
 'The Nanny Diaries: A Novel': 0,
 'Me Talk Pretty One Day': 0,
 'The Five People You Meet in Heaven': 0,
 'The Beach House': 0}

In [60]:
df.shape,df.shape[0]

((1850, 39), 1850)

In [61]:
   
for j in range(0,df.shape[0]):
    k = df.iloc[j]
    for item in k:
        if item!= 'empty':
            bookDict[item]+=1

In [62]:
bookSupportabsolute = bookDict # Number of times an Item appears, i.e the absolute support

In [63]:
# Let's Now calculate the Support

bookSupportrelative = {}

for i in bookDict:
    bookSupportrelative[i] = (bookDict[i]/(df.shape[0]))

In [64]:
bookSupportrelative #this gives relative movie support

{'The Bean Trees': 0.042702702702702704,
 'To Kill a Mockingbird': 0.07351351351351351,
 'Angels & Demons': 0.07837837837837838,
 'Harry Potter and the Chamber of Secrets (Book 2)': 0.12702702702702703,
 'Harry Potter and the Order of the Phoenix (Book 5)': 0.0745945945945946,
 'Life of Pi': 0.08486486486486486,
 'The Da Vinci Code': 0.12108108108108108,
 'Red Dragon': 0.04054054054054054,
 'A Time to Kill': 0.05675675675675676,
 'Harry Potter and the Sorcerers Stone (Book 1)': 0.15297297297297296,
 'Jurassic Park': 0.05081081081081081,
 'Girl with a Pearl Earring': 0.06702702702702702,
 'The Notebook': 0.055135135135135134,
 'Bridget Joness Diary': 0.07081081081081081,
 'Fahrenheit 451': 0.043243243243243246,
 'Interview with the Vampire': 0.04432432432432432,
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel': 0.07351351351351351,
 'Shes Come Undone (Oprahs Book Club)': 0.04432432432432432,
 'The Girls Guide to Hunting and Fishing': 0.04162162162162162,
 'The Pilots Wife : A Novel': 0.057297297297297295,
 'The Red Tent (Bestselling Backlist)': 0.08378378378378379,
 'A Prayer for Owen Meany': 0.0372972972972973,
 'The Lovely Bones: A Novel': 0.15783783783783784,
 'Good in Bed': 0.06432432432432432,
 'Suzannes Diary for Nicholas': 0.04432432432432432,
 'Timeline': 0.03783783783783784,
 'The Joy Luck Club': 0.04972972972972973,
 'Where the Heart Is (Oprahs Book Club (Paperback))': 0.07405405405405406,
 'The Firm': 0.0627027027027027,
 'The Pelican Brief': 0.04810810810810811,
 'Harry Potter and the Goblet of Fire (Book 4)': 0.10162162162162162,
 'Harry Potter and the Prisoner of Azkaban (Book 3)': 0.10918918918918918,
 'The Fellowship of the Ring (The Lord of the Rings': 0.05459459459459459,
 ' Part 1)': 0.05459459459459459,
 'Tuesdays with Morrie: An Old Man': 0.06324324324324325,
 ' a Young Man': 0.06324324324324325,
 ' and Lifes Greatest Lesson': 0.06324324324324325,
 'The Runaway Jury': 0.04378378378378378,
 'The Summons': 0.04972972972972973,
 'Shes Come Undone (Oprahs Book Club (Paperback))': 0.046486486486486484,
 'Summer Sisters': 0.04756756756756757,
 '1st to Die: A Novel': 0.047027027027027025,
 'A Painted House': 0.06918918918918919,
 'The Secret Life of Bees': 0.10594594594594595,
 'The Testament': 0.044864864864864865,
 'House of Sand and Fog': 0.05027027027027027,
 'The Poisonwood Bible: A Novel': 0.043243243243243246,
 'Snow Falling on Cedars': 0.055675675675675676,
 'The Catcher in the Rye': 0.051351351351351354,
 'The Nanny Diaries: A Novel': 0.07405405405405406,
 'Me Talk Pretty One Day': 0.04864864864864865,
 'The Five People You Meet in Heaven': 0.051351351351351354,
 'The Beach House': 0.032972972972972976}

In [65]:
with open("oneItems.txt", 'w') as f: 
    for key, value in bookSupportabsolute.items(): 
        f.write('%s:%s\n' % (value, key))